page-disclaimer {
  @extend %onboarding;
  text-align: center;
  ion-header {
    .toolbar-title,
    ion-icon {
      color: color($colors, primary);
    }
    .toolbar-background {
      background-color: transparent;
    }
  }
  .link {
    font-size: 2vh;
    cursor: pointer;
  }
  p {
    line-height: 2.0rem;
    font-size: 1.75rem;;
    margin-right: 10px;
    margin-left: 10px;
  }

  .padded {
    width: 100%;
    padding: 15px 15px calc(5vw + 1vh) 15px;
  }

  .item-ios {
    font-size: 1.4rem;
  }
}
