// montserrat Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$montserrat-font-path: $font-path !default;

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("montserrat Light"), local("montserrat-Light"), url("#{$montserrat-font-path}/montserrat-light.woff2") format("woff2"), url("#{$montserrat-font-path}/montserrat-light.woff") format("woff"), url("#{$montserrat-font-path}/montserrat-light.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("montserrat"), local("montserrat-Regular"), url("#{$montserrat-font-path}/montserrat-regular.woff2") format("woff2"), url("#{$montserrat-font-path}/montserrat-regular.woff") format("woff"), url("#{$montserrat-font-path}/montserrat-regular.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("montserrat Medium"), local("montserrat-Medium"), url("#{$montserrat-font-path}/montserrat-medium.woff2") format("woff2"), url("#{$montserrat-font-path}/montserrat-medium.woff") format("woff"), url("#{$montserrat-font-path}/montserrat-medium.ttf") format("truetype");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("montserrat Bold"), local("montserrat-Bold"), url("#{$montserrat-font-path}/montserrat-bold.woff2") format("woff2"), url("#{$montserrat-font-path}/montserrat-bold.woff") format("woff"), url("#{$montserrat-font-path}/montserrat-bold.ttf") format("truetype");
}
