page-backup-game {
  .deleted-title {
    text-align: center;
  }
  .slide-title {
    padding: 20px;
  }
  .swiper-pagination {
    display: none;
  }
  .slide-zoom {
    height: 100%;
  }
  .password {
    background-color: color($colors, light);
    padding: 2rem;
  }
  .phrase {
    display: -webkit-box;
    background: color($colors, light);
    max-width: 500px;
    min-height: 12rem;
    align-items: center;
    line-height: 170%;
    word-spacing: 10px;
    padding: 4px;
  }

  .button-ios {
    height: 2.0em;
  }

  .input-wrapper .label-ios {
    font-size: 1.3rem;
  }

  .item-divider {
    margin-bottom: 2rem;
  }

  .bottom-absolute .button {
    margin: 0.25rem 0.25rem;
  }
}
